@import 'tailwindcss';

*,
*::before,
*::after {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

/* This hides the native scrollbar */
*::-webkit-scrollbar,
html::-webkit-scrollbar,
main::-webkit-scrollbar {
  display: none;
}

/* This hides the native scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

th,
td {
  font-size: 13px;
}

th {
  border-bottom: 1px solid rgb(235, 235, 235);
  font-weight: 400;
  color: #828282;
}

td {
  color: #636363;
}

.custom-shadow {
  box-shadow: 0px 5px 20px rgba(185, 185, 185, 0.1),
    0px 5px 20px rgba(117, 117, 117, 0.08), 0px 10px 10px rgba(83, 83, 83, 0);
}
